<div class="movie-wrapper flex-column">
    <div class="header ml-2">
      <br>
      <br>

    </div>

    <div class="banner" >

  <div class="movie-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0)),  url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCIBBqkPPdrDZh5rMOz-j_3ozh46JXnX7gl9EFnU_483nKCt4F);"  >
  </div>
  <div class="section">

  </div>
    <h2>City of God</h2>
    <p>135min |  Drama/Crime | 2002 </p>
  <div class="details">
  <div class="movie-ratings d-flex justify-content-space-between align-items-center">
    <div class="flex-item ml-2 mr-5">
      <i class="fas fa-thumbs-up"></i> <strong> 100% </strong>
    </div>
    <div class="flex-item ml-5">
      <i class="fab fa-imdb"></i> <strong> 8.7 </strong>
    </div>
  </div>

  </div>
</div>
<%= render 'footer_shuffle' %>
