.name-card {
  padding: 20px 12px 0px 16px;
  background-color: white;
  text-align: center;
  position: sticky;
  top: 45px;
  z-index: 10;
}

.watched-follows-cards {
  padding: 10px 12px 10px 16px;
  background-color: white;
  margin-top: 13px;
}

.watch-follow-card {
  text-align: center;
  margin-right: 12px;
}

.profile-modal-li {
  border-bottom: $border;
  padding-bottom: 8px;
}

.modal {
  top: 91px;
  left: 39px;
}

.modal-content {
  width: 80%;
  height: 45vh;
  overflow: scroll;
}

#modalBodyShuffle {
  text-align: center;
}
