<div class="navbar sticky-top justify-content-between mb-2">
    <a href="#"><i class="fas fa-home"></i></a>
    <a href="#"><i class="fas fa-random"></i></a>
    <a href="#"><i class="fas fa-user"></i></a>
</div>
