<div class="navbar fixed-top justify-content-between">
    <a href="#"><i class="fas fa-home"></i></a>
    <a href="#"><i class="fas fa-plus"></i></a>
    <a href="#"><i class="fas fa-random"></i></a>
    <a href="#"><i class="fas fa-user"></i></a>
</div>
