<br><br>
<%= render 'search_form' %>

<! ---- Currently Watching Movie ---- >

  <div class="section-card d-flex ">
      <%= image_tag "https://media.fstatic.com/h1hNa4BA1DtdYjmaMnV2ev-atAw=/fit-in/290x478/smart/media/movies/covers/2018/07/dirty-dancing-tv-show_ICTA4EG.jpg", class: "movie-index-poster" %>
    <div class="description-card ml-3">
      <p><strong>User name and first name is currently watching:</strong></p>
      <p>movie title </p>
    </div>
  </div>

  <div class="section-card d-flex ">
      <%= image_tag "https://media.fstatic.com/h1hNa4BA1DtdYjmaMnV2ev-atAw=/fit-in/290x478/smart/media/movies/covers/2018/07/dirty-dancing-tv-show_ICTA4EG.jpg", class: "movie-index-poster" %>
    <div class="description-card ml-3">
      <p><strong>User name and first name is currently watching:</strong></p>
      <p>movie title </p>
    </div>
  </div>

<%= render 'footer' %>
