.btn-follow {
  border: 1px solid $orange;
  border-radius: 4px;
  padding: 0px 50px;
  background-color: $orange;
  color: white;
  margin: 2px;

  a {
    color: inherit;
  }
}

.btn-following {
  border: 1px solid $orange;
  border-radius: 4px;
  padding: 0px 50px;
  background-color: white;
  color: $orange;
  font-weight: bolder;
  margin: 2px;

  a {
    color: inherit;
  }
}
