.btn-submit-solo {
  color: white;
  background-color: $orange;
  border: 1px solid #df7514;
  padding: 0.25rem 5.330rem;
  border-radius: 6px;
  margin-left: 0;
  position: relative;
  transition: opacity 0.3s ease;
  text-decoration: inherit;
  color: white;

  &:hover {
    text-decoration: inherit;
    color: white;
  }
}

.btn-submit-friend {
  color: white;
  background-color: $orange;
  border: 1px solid #df7514;
  padding: 0.25rem 3.375rem;
  border-radius: 6px;
  margin-left: 0;
  position: relative;
  transition: opacity 0.3s ease;
  text-decoration: inherit;
  color: white;

  &:hover {
    text-decoration: inherit;
    color: white;
  }
}

.movie-wrapper {
  height: 100vh;
}

.shuffle-ratings {
  justify-content: space-between;
  padding: 10px;
  color: $orange;
  background: black;
  font-style: bold;
  size: 20px;
  font-size: 20px;
  opacity: 1;
  padding-top: 2px;
  overflow: hidden;
}

.summary-movie-picker {
  margin: 0px;
  color: gray;
  font-style: bold;
  background: black;
  padding-left: 18px;
}

.title-movie-picker {
  background: black;
  padding-left: 18px;
  border: 1px solid black;
  position: relative;
  top: -5px;
  height: 8vh;
}

.movie-image {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  height: 50vh;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-size: cover;
}

.details {
  position: relative;
  top: -10px;
}

#shuffle-box {
  font-size: 30px;
  padding-top: 0px;
  border-bottom: none;
  margin-bottom: 12px;

  .fa-play {
    color: $orange;
    font-size: 48px;
  }
 }

.fa-bookmark:active{
   color:black !important;
}

.liked-disliked-stamp {
  position: relative;
  border: 10px double $orange;
  border-radius: 8px;
  width: 14rem;
  transform: rotate(20deg);
  left: 100px;
  top: 177px;
}

.stamp-text {
  color: $orange;
  text-align: center;
  padding-top: 0rem;
  font-size: 30px;
  margin-bottom: 0px;
  font-size: 40px;
  font-weight: bolder;
  padding: 5px;
}
