.btn-submit-solo {
  color: white;
  background-color: $orange;
  border: 1px solid #df7514;
  padding: 6px 16px;
  border-radius: 50px;
  margin-left: 10em;
  top: -36px;
  position: relative;
  transition: opacity 0.3s ease;
  text-decoration: inherit;
  color: white;

  &:hover {
    text-decoration: inherit;
    color: white;
  }
}

.btn-submit-friend {
  color: white;
  background-color: $orange;
  border: 1px solid #df7514;
  padding: 6px 16px;
  border-radius: 50px;
  margin-left: 0;
  position: relative;
  transition: opacity 0.3s ease;
  text-decoration: inherit;
  color: white;

  &:hover {
    text-decoration: inherit;
    color: white;
  }
}

.movie-wrapper {
  height: 100vh;
}

.shuffle-ratings {
  justify-content: space-between;
  padding: 10px;
  color: $orange;
  background: black;
  font-style: bold;
  size: 20px;
  font-size: 20px;
  opacity: 1;
  padding-top: 2px;
  overflow: hidden;
}

.summary-movie-picker {
  margin: 0px;
  color: gray;
  font-style: bold;
  background: black;
  padding-left: 18px;
}

.title-movie-picker {
  background: black;
  padding-left: 18px;
  border: 1px solid black;
  position: relative;
  top: -7px;
  height: 7vh;
}

.movie-image {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  height: 60vh;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-size: cover;
}

.details {
  position: relative;
  top: -10px;
}

#shuffle-box {
  font-size: 30px;
  padding-top: 0px;
  border-bottom: none;
  margin-bottom: 12px;

  .fa-play {
    color: $orange;
    font-size: 48px;
  }
 }

.fa-bookmark:active{
   color:black !important;
}

  // It was a problem for the taste form because when clicking on it, it turns black
  // But when you click then on the review field, it turns orange again
  // Joseph

// .fa-thumbs-down:hover{
//    color:black !important;
// }

// .fa-thumbs-up:hover{
//    color:black !important;
// }

.fa-user-friends:hover{
   color:black !important;
}
