$padding: 10px 12px 10px 16px;

.movie-ratings {
  height: 2.5rem;
  padding: $padding;
  border-bottom: $border;
  background-color: white;
}

.watched-avatars-card {
  overflow-x: scroll;
  width: 100%;
  display: flex;
}
