$padding: 10px 12px 10px 16px;

.section-card {
  padding: $padding;
  border-bottom: $border;
  background-color: white;
}

.movie-show-poster {
  width: 9em;
}

.review_card_info {
  font-family: $sl-font-family--body;
  font-size: $body_size;
  font-weight :bold;
  padding-top: 8px;
}

.review_card_review {
  border-bottom: 1px solid #E7E7E7;
  margin-bottom: 15px;
}


#review-text {
  font-family: $sl-font-family--body;
  font-size: $body_size;
  font-weight: bold;
}

.movie-banner {
  height: 13em;
  width: 100%;
  object-fit: cover;
}

.avatar-review {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.8em;
  object-fit: cover;
}
