#taste_rating_true{
display: none !important;
visibility: hidden;
}

#taste_rating_false{
display: none !important;
visibility: hidden;
}

#like_button_taste{
  color: orange;
  font-size: 60px;
  margin-right: 30px;

}

#dislike_button_taste{
  color: orange;
  font-size: 60px;
}

.oranged{
  color: black !important;
  font-size: 35px !important;
}

.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  border: none;
  padding: none
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}

.nobullet {
  list-style-type: none;
}

input[type=“radio”]:checked{
   visibility:hidden;
}

.btn-submit-taste {
  color: white;
  background-color: orange;
  border: 1px solid rgb(223, 117, 20);
  padding: 8px 24px;
  border-radius: 50px;
  margin-left: 8em;
  transition: opacity 0.3s ease;
}

.hide-movie-taste{
  display: none;
}
