#results {
  font-size: $body_size;
  font-family: $sl-font-family--body;
  position: absolute;
  background-color: white;
  width: 92%;
  z-index: 9;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);

  & .avatar {
    margin: 10px 10px 10px 15px;
  }

  & li {
    list-style-type: none;
  }

  & li:first-child {
    padding-top: 14px;
  }
}

.hide {
  display: none;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
}
a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}

.fa-search {
  color: white;
}

.result-info {
  margin-left: 24px;
}
