#results {
  font-size: $body_size;
  font-family: $sl-font-family--body;
  position: absolute;
  background-color: white;
  width: 100%;

  & .avatar {
    margin-left: -30px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.hide {
  display: none;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
}
a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}

.fa-search {
  color: white;
}
