// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.categories {
  overflow-x: scroll;
  width: 100%;
  display: flex;
  margin-bottom: 8px;
}

.categories button {
  font-size: $h4_size;
  border: $border;
  padding: 4px;
  margin-left: 7px;
  background-color: white;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);

  &.active {
    background-color: $orange;
    color: white;
    border: none;
  }

  &:focus {
    outline: none;
    outline: 3px auto -webkit-focus-ring-color;
  }
}

.cards .hide {
  display: none;
    // -webkit-transition: opacity 0.5s ease-in-out;
    // -moz-transition: opacity 0.5s ease-in-out;
    // -ms-transition: opacity 0.5s ease-in-out;
    // -o-transition: opacity 0.5s ease-in-out;
    //  opacity: 0;
}

.category {
  display: flex;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
}
a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}

.watching-section-card {
  border-left: 6px solid #f0b146;
  padding-left: 10px;
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
}

.movie-watching-poster {
  width: 3rem;
  height: 4.5rem;
}

.section-card-dash {
  padding: 10px 12px 10px 16px;
  border: 1px solid #E7E7E7;
  background-color: white;
}

.movie-image-feed {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  height: 50vh;
  background-size: cover;
}

.movie-footer {
  padding-right: 10px;
  color: $orange;
  background: black;
  font-style: bold;
  size: 20px;
  font-size: 20px;
  overflow: hidden;
  box-shadow: 0px -15px 20px -8px black;
}

.movie-review {
  margin-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0em;
  margin-right: 0em;
  color: white;
  width: 80vw;
  font-style: italic;
}


.col-12, .col-8, .col-6 {
  padding-right: 0;
  padding-left: 0;
}
