// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.movie-index-poster {
  width: 100px;
  height: 100%;
}

.fa-tv {
  color: $orange;
  padding-right: 4px;
}
