.landing-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: orange;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 0.3rem;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-login {
  background-color: orange;
  position: absolute;
  right: 0.7rem;
  top: 10px;
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 8px;
  padding-right: 8px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.btn-signup {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: orange;
  color: white;
  font-size: 1.25rem;
}

.landing-features {
  text-align: center;
  border-top: 9px solid orange;
  padding: 1rem;
}

.landing-gif {
width: 60%; 
margin-bottom: 2rem;
}




.devise-background {
  background-position: center;
  height: 100vh;
}

.log-sign-container {
  width: 80%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background: white;

  a {
    color: rgba(0, 0, 0, 0.82);
    text-decoration: none;
  }

  a:active {
    color: $orange;
    text-decoration: none;
  }
}

.devise-header {
  margin-bottom: 1rem;
  text-align: center;
}

.btn-devise {
  color: white;
  background-color: orange;
  border-radius: 6px;
  transition: opacity 0.3s ease;
  text-decoration: inherit;
  color: white;
  margin-bottom: 24px;
  width: 100%;

  &:hover {
    text-decoration: inherit;
    background-color: white;
    color: orange;
  }
}

.form-check {
  text-align: center;
}
